@import "~antd/lib/style/themes/default.less";

// Border color
// @border-color-base: hsv(0, 0, 85%); // base border outline a component
// @border-color-split: hsv(0, 0, 91%); // split border inside a component
// @border-color-inverse: @white;
// @border-width-base: 1px; // width of the border for a component
// @border-style-base: solid; // style of a components border

.form-inline {
  display: grid;
  grid-template-columns: 200px 1fr;

  label {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px 0;
    padding: 5px 0px 5px 0px;
  }

  input {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 5px 10px 5px 10px;
    background-color: @input-bg;
    border: @border-width-base @border-style-base @border-color-base;
  }

  .form_info {
    margin: 10px 0;
    padding: 5px 0px 5px 0px;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  button {
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 5px;
    background-color: @btn-primary-bg;
    border: @border-width-base @border-style-base @border-color-base;
    color: @btn-primary-color;
    cursor: pointer;
  }
  .btn_cancel {
    grid-column-start: 1;
    grid-column-end: 2;
    color: @btn-default-color;
    background-color: @btn-default-bg;
  }
  .entire_row {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  button:hover {
    background-color: royalblue;
  }
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
